@page "/repo/"
<ul class="nav nav-tabs">
    <li class="nav-item">
        <button class="nav-link @(Selected == SelectedTab.All ? "active" : string.Empty)" @onclick="() => Selected = SelectedTab.All">Все</button>
    </li>
    <li class="nav-item">
        <button class="nav-link @(Selected == SelectedTab.Direction ? "active" : string.Empty)" @onclick="() => Selected = SelectedTab.Direction">Направление</button>
    </li>
    <li class="nav-item">
        <button class="nav-link @(Selected == SelectedTab.Squad ? "active" : string.Empty)" @onclick="() => Selected = SelectedTab.Squad">Отряд</button>
    </li>
    <li class="nav-item">
        <button class="nav-link @(Selected == SelectedTab.Me ? "active" : string.Empty)" @onclick="() => Selected = SelectedTab.Me">Я</button>
    </li>
</ul>
@if (Entities is null)
{
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Загрузка...</span>
        </div>
    </div>
}
else
{
    <Table TItem="AndNetwork9.Shared.Storage.Repo" Source="@(ViewEntities.ToArray())" Columns="ColumnDefinitions" SelectionChanged="SelectionChanged" InitialSort="(3, true)"/>
}