@page "/Member/{SelectedKeyRaw?}"
@attribute [Authorize]
@inherits ElementPageBase<Member>

<BaseBodyWithAside>
    <Title>
        Игроки
    </Title>
    <Main>
        @if (Entities is null)
        {
            <LoadingSpinner/>
        }
        else
        {
            <Table Columns="ColumnDefinitions" InitialSort="(0, true)" SelectionChanged="SelectionChanged" Source="@Entities" TItem="AndNetwork9.Shared.Member"></Table>
        }
    </Main>
    <Aside>
        @if (SelectedEntity is null)
        {
            <p class="small">Игрок не выбран</p>
        }
        else
        {
            <h5>@SelectedEntity.Nickname</h5>
            @if (SelectedEntity.RealName is not null)
            {
                <b>Имя: </b>
                @SelectedEntity.RealName
                <br/>
            }
            @if (SelectedEntity.TimeZone is not null)
            {
                <b>Текущее время: </b>
                @TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, SelectedEntity.TimeZone)
                <br/>
            }
            <b>Ранг: </b>
            @SelectedEntity.Rank.GetRankName()
            <br/>
            <b>Направление: </b>
            @SelectedEntity.Direction.GetName()
            <br/>
            <b>Steam: </b>
            <a href="@SelectedEntity.GetSteamLink()">Steam</a>
            <br/>
            @if (SelectedEntity.VkId is not null)
            {
                <b>ВК: </b>
                <a href="@SelectedEntity.GetVkLink()">ВК</a>
                <br/>
            }
            @if (SelectedEntity.SquadNumber is not null)
            {
                <b>Отряд: </b>
                <a class="@(SelectedEntity.CommanderLevel > SquadCommander.None ? "fw-bolder" : "")" href="squad/@(SelectedEntity.SquadNumber?.ToString("D"))">@SelectedEntity.SquadPart?.ToString()</a>
                <br/>
            }
            <b>Награды: </b>
            <small>Счет: @SelectedEntity.Awards.Sum(x => x.Points)</small>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Тип</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата</th>
                </tr>
                </thead>
                <tbody>
                @foreach (Award award in SelectedEntity.Awards.OrderByDescending(x => x.Type))
                {
                    <tr>
                        <td>@award.Type.GetAwardSymbol()</td>
                        <td class="text-wrap">@award.Description</td>
                        <td>@award.Date</td>
                    </tr>
                }
                </tbody>
            </table>
            <br/>
        }
    </Aside>
    <Footer>

    </Footer>
</BaseBodyWithAside>