<div class="card user-select-none">
    <div class="card-body">
        <h5 class="card-title">@ElectionVote.Direction.GetName()</h5>
        <h6 class="card-subtitle mb-2 @(AllowSend ? "text-success" : "text-danger fw-bolder")">
            Нераспределенные голоса: @(VotesRemaining)
        </h6>
        <ul class="list-group list-group-flush">
            @foreach ((int memberId, uint votes) in ElectionVote.Votes)
            {
                <li class="d-flex justify-content-between list-group-item">
                    <span>@(memberId == 0 ? (MarkupString)"Против всех" : AllMembers.First(x => x.Id == memberId).GetHtml())</span>
                    <div class="d-flex justify-content-between" style="width: 100px">
                        <button class="badge bg-secondary btn rounded-pill" disabled="@(!AllowMinus(memberId))" @onclick="e => Remove(memberId, e)" type="button">
                            <i class="bi bi-dash"></i>
                        </button>
                        <strong>@(votes + Bulletin[memberId])</strong>
                        <button class="badge bg-secondary btn rounded-pill" disabled="@(!AllowPlus)" @onclick="e => Add(memberId, e)" type="button">
                            <i class="bi bi-plus"></i>
                        </button>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>