@typeparam TItem
<table class="table table-hover">
    <thead>
    <tr>
        @foreach (ColumnDefinition column in Columns)
        {
            <th class="user-select-none" @onclick="() => SelectedColumn = Array.IndexOf(Columns, column)" scope="col">
                @column.Name
                <i class="@(SelectedColumn == Array.IndexOf(Columns, column) ? column.SortType.Type.GetIconStyle(column.SortType.Reverse ? !View.Descending : View.Descending) : string.Empty)"></i>
            </th>
        }
    </tr>
    </thead>
    <tbody>
    @foreach (TItem item in View)
    {
        <tr class="@(item.Id == SelectedRow ? "table-secondary" : string.Empty)" @onclick="() => SelectedRow = item.Id">
            @foreach (ColumnDefinition column in Columns)
            {
                @if (column.HeaderFunc(item))
                {
                    <th>@column.ContentFunc(item)</th>
                }
                else
                {
                    <td>@column.ContentFunc(item)</td>
                }
            }
        </tr>
    }
    </tbody>
</table>