<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="card-subtitle text-muted">
            @if (Task.Parent is not null)
            {
                <a href="@Task.Parent.GetLink()">#@Task.Parent.Id.ToString("D")</a>
                <span> → </span>
            }
            <a href="@Task.GetLink()">#@Task.Id.ToString("D")</a> 
        </h6>
        <div class="d-flex justify-content-end align-items-center">
            <i class="mx-1 bi @Task.Priority.GetIconStyle()" 
               style="color: @Task.Priority.GetIconColor()" 
               title="Приоритет: @Task.Priority.ToLocalString()"/>
            <i class="mx-1 bi bi-circle-fill" 
               style="color: @Task.DirectionAssignee.GetValueOrDefault(Direction.Reserve).GetColorStyle()" 
               title="Направление: @Task.DirectionAssignee.GetValueOrDefault(Direction.None).GetName()"/>
            <i class="mx-1 bi bi-square-fill" 
               style="color: @Task.Level.GetIconColor()"
               title="Уровень: @Task.Level.ToLocalString()"/>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="card-title">@Task.Title</h5>
            <h6 class="card-subtitle text-muted align-center">
                <span class="badge align-center " style="background: @Task.Status.GetColorStyle()">@Task.Status.GetString()</span>
            </h6>
        </div>
    </div>
    <div class="card-footer d-flex justify-content-end">
        @if(Task.Assignee is not null)
        {
            @Task.Assignee.GetHtml()
        }
        else
        {
            <small>Задача не назначена</small>
        }
    </div>
</div>